.App {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: 0 auto;
}

.App > div {
  display: flex;
  align-items: center;
}

.App p + input {
  margin-left: 1rem;
}

.App > div + div {
  margin-top: 1rem;
}
